.tab {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: $backgroudColorText;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  @include breakpoint(720px) {
    display: none;
  }
}
.tab:hover,
.tab:focus,
.tab:nth-child(3) {
  background-color: $whiteColor;
  color: blue;
}
