.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
  .card {
    max-width: 100%;
    .furniture-img {
      width: 100%;
    }
  }
  .highlighted {
    position: relative;
  }
}
